//------------------Theme 1
//Backgrounds
$very-dark-desaturated-blue-main-bg: #3a4663; //(main background)
$very-dark-desaturated-blue-keypad-bg: #242d44; //(toggle background, keypad background)
$very-dark-desaturated-blue-screen-bg: #181f33; //(screen background)

//Keys
$desaturated-dark-blue-key-bg: #637097; //(key background)
$desaturated-dark-blue-key-shadow: #404e72; //(key shadow)
$desaturated-dark-blue-key-hover: #a2b2e1;

$red: #d03f2f; //(key background, toggle)
$dark-red: #93261a; //(key shadow)
$red-btn-hover: #f96b5b;

$light-grayish-orange: #eae3dc; //(key background)
$grayish-orange: #b3a497; //(key shadow)
$graylish-orange-btn-hover: #fffffe;

//Text
$very-dark-grayish-blue: #434a59;
$white: hsl(0, 0%, 100%);

//---------------------Theme 2
$light-gray: #e6e6e6; //(main background)
$grayish-red: #d2cdcd; //(toggle background, keypad background)
$very-light-gray: #eeeeee; //(screen background)

$dark-moderate-cyan: #378187; //(key background)
$very-dark-cyan: #1b6066; //(key shadow)
$dark-cyan-hover: #62b5bc;

$orange: #c85402; //(key background, toggle)
$dark-orange: #873901; //(key shadow)
$orange-hover: #ff8a38;

$light-grayish-yellow: #e5e4e1; //(key background)
$dark-grayish-orange: #a79e91; //(key shadow)

$very-dark-grayish-yellow: #36362c; //text color

//----------------------Theme 3
//Backgrounds
$very-dark-violet-main-bg: #17062a; //(main background)
$very-dark-violet-screen-bg: #1e0936; //(toggle background, keypad background, screen background)

//Keys
$dark-violet: #58077d; //(key background)
$vivid-magenta: #be15f4; //(key shadow)
$dark-violet-hover: #6c34ac;

$pure-cyan: #00ded0; //(key background, toggle)
$soft-cyan: #6cf9f1; //(key shadow)
$soft-cyan-hover: #93fff8;

$very-dark-violet: #331c4d; //(key background)
$dark-magenta: #881c9e; //(key shadow)
$very-dark-violet-hover: #8631af;

//Text
$light-yellow: #ffe53d;
$very-dark-blue: hsl(198, 20%, 13%);
